<div class="lg:hidden" role="dialog" aria-modal="true">
  <button (click)="downloadPdfMobile()" class="telecharger bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center">
    <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z"/></svg>
    <span>Télécharger le CV</span>
  </button>
  <main>
    <app-header-cv-mobile></app-header-cv-mobile>
    <section class="section-left-mobile">
      <h4>Atouts</h4>
      <hr class="light">
      <div class="atouts-mobile">
        <div>Travail d'équipe</div>
        <div>Je sais manager les équipes avec bienveillance et sympathie<br></div>
        <div>
          Capitalisation <br> d'experience
        </div>
        <div>
          Alimentation de documentation technique lié au problématique du projet
          afin de faciliter l'integration d'un prochain développeur
        </div>
      </div>

      <h4>Diplômes et Formations</h4>
      <hr class="light">
      <div class="div-mobile">
        <div *ngFor="let education of educations" class="mb-4">
          <b>{{ education.diplome }}</b>
          <br><strong>{{ education.universite }}</strong>
          <br>{{ education.lieu }}
          <br>{{ education.periode }}
        </div>
      </div>

      <h4>Expériences professionnelles</h4>
      <hr class="light">
      <div class="div-mobile">
        <ng-container *ngFor="let experience of experiences">
          <p><b>{{ experience.titre }} chez</b>
            <strong> {{ experience.entreprise }}<br></strong>
            {{ experience.periode }}<br>
            {{ experience.description }}<br>
            <strong>{{ experience.client }}</strong>.
          </p>
          <br>
        </ng-container>
      </div>
    </section>

    <section class="section-right-mobile">
      <h4>Competences</h4>
      <hr class="light">
      <div class="skls-mobile">
        <div class="po">
          <p>html, css, Javascript</p>
          <div class="cool">
            <div style="width:80%" class="inner"></div>
          </div>
        </div>

        <div class="po">
          <p>Angular, Node.js</p>
          <div class="cool">
            <div style="width:75%" class="inner"> </div>
          </div>
        </div>

        <div class="po">
          <p>MongoDB, PostGre, PgAdmin</p>
          <div class="cool">
            <div style="width:60%" class="inner"> </div>
          </div>
        </div>

        <div class="po">
          <p>Git, Gitlab, GitHub</p>
          <div class="cool">
            <div style="width:60%" class="inner"> </div>
          </div>
        </div>
      </div>


      <h4>Langues</h4>
      <hr class="light">
      <div class="skls-mobile">
        <div class="po">
          <p>Français</p>
          <div class="cool">
            <div style="width:100%" class="inner"> </div>
          </div>
        </div>
        <div class="po">
          <p>Anglais</p>
          <div class="cool">
            <div style="width:80%" class="inner"> </div>
          </div>
        </div>
      </div>
      <h4>Réseaux sociaux</h4>
      <hr class="light">
      <div class="container">
        <p>
          <img alt="" src="assets/img/l.png" class="info">
          <span>https://www.linkedin.com/in/hamid-benallel-a18187127</span>
        </p>
      </div>
      <h4>Centres d'intérêt</h4>
      <hr class="light">
      <div class="interet-mobile">
        <div>
          <b>Sport</b>
        </div>
        <div>
          <b>Naviguer sur Internet</b>
        </div>
        <div>
          <b>Lecture</b>
        </div>
        <div>
          <b>Voyage</b>
        </div>
      </div>
    </section>
    <div class="srkl">
    </div>
    <hr class="light">
  </main>
</div>
