<div class="lg:hidden" role="dialog" aria-modal="true">
  <button class="telecharger bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center">
    <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z"/></svg>
    <span>Télécharger</span>
  </button>
  <main>
    <header>
      <div class="photo">
        <img src="assets/img/01.png" width="194" height="259" alt="">
      </div>
      <div class="des-mobile">
        <h3>BENALLEL Hamid</h3>
        <p class="post">Développeur Fullstack Angular/Node.js</p>
      </div>
      <div class="right-mobile">
        <p>
          <img src="assets/img/mail.png" class="info img-mobile" height="235" width="235">
          hamid.benallel.scicog@gmail.com
        </p>
        <p>
          <img src="assets/img/maps.png" class="info img-mobile" height="600" width="600">
          Bordeaux-France
        </p>
        <p>
          <img src="assets/img/tele.png" class="info-mobile img-mobile" height="882" width="623">
          0611284112
        </p>
      </div>
    </header>

    <section class="section-left">
      <h4>Atouts</h4>
      <hr class="light">
      <div class="atouts">
        <div>Travail d'équipe</div>
        <div>Je sais manager les équipes avec bienveillance et sympathie<br></div>
        <div>
          Capitalisation <br> d'experience
        </div>
        <div>
          Alimentation de documentation technique lié au problématique du projet
          afin de faciliter l'integration d'un prochain développeur
        </div>
      </div>

      <h4>Diplômes et Formations</h4>
      <hr class="light">
      <div class="div">
        <div>
          <b>DUT informatique année speciale </b>
          <br><strong>Université Bordeaux 1</strong>
          <br>Bordeaux
          <br>
          2015
        </div>
        <br>
        <div><b>Master en sciences Cognitives et Ergonomie </b>
          <br><strong>Université Bordeaux 2</strong>
          <br>Bordeaux
          <br>2012-2014
        </div>
        <br>
        <div><b>Licence de Biologie </b>
          <br><strong>Université Bordeaux 2</strong>
          <br>Bordeaux
          <br>2009-2012
        </div>
        <br>
        <div><b>Baccalauréat S </b>
          <br><strong>Lycée des Graves</strong>
          <br>Gradignan
          <br>2006
        </div>
      </div>

      <h4>Expériences professionnelles</h4>
      <hr class="light">
      <div class="div">
        <p><b>Lead tech Angular</b>
          <strong> Cat-amania<br></strong>
          Août 2022 à Juin 2023<br>
          Développement d'une application web <strong>(Ociane)</strong>.
        </p>
        <br>
        <p><b>Concepteur Développeur Fullstack JS ( Angular/ NodeJS )</b>
          <strong> Cat-amania</strong>, (Bordeaux)<br>
          Juillet 2021 à Août 2022<br>
          Développement d'une application web <strong>(Groupama)</strong>.
        </p>
        <br>
        <p><b>Concepteur Développeur Front-end Angular</b>
          <strong> Cat-amania</strong>, (Bordeaux)<br>
          Novembre 2020 à Juillet 2021<br>
          Développement d'une application web <strong>(Bordeaux Métropole Énergie)</strong>.
        </p>
        <br>
        <p><b>Concepteur Développeur Full-Stack JAVA - Angular</b>
          <strong> Cat-amania</strong>, (Bordeaux)<br>
          Septembre 2019 à Novembre 2020<br>
          Développement d'une application web <strong>(PÔLE EMPLOI)</strong>.
        </p>
        <br>
        <p><b>Concepteur Développeur Front-End</b>
          <strong> Cat-amania</strong>, (Bordeaux)<br>
          Février 2019 à Août 2019<br>
          Développement d'une application web <strong>(CGI)</strong>.
        </p>
        <br>
        <p>
          <b>Concepteur Développeur Front-End</b>
          <strong> Cat-amania</strong>, (Bordeaux)<br>
          Novembre 2016 à Décembre 2018<br>
          Développement d'une application web <strong>(LA BANQUE POSTALE)</strong>.
        </p>
      </div>
    </section>

    <section class="section-right">
      <h4>Competences</h4>
      <hr class="light">
      <div class="skls">

        <div class="po">
          <p>html, css, Javascript</p>
          <div class="cool">
            <div style="width:80%" class="inner"></div>
          </div>
        </div>

        <div class="po">
          <p>Angular, Node.js</p>
          <div class="cool">
            <div style="width:75%" class="inner"> </div>
          </div>
        </div>

        <div class="po">
          <p>MongoDB, NodeJs</p>
          <div class="cool">
            <div style="width:71%" class="inner"> </div>
          </div>
        </div>

        <div class="po">
          <p>Git, Gitlab, GitHub</p>
          <div class="cool">
            <div style="width:60%" class="inner"> </div>
          </div>
        </div>
      </div>


      <h4>Langues</h4>
      <hr class="light">
      <div class="skls">
        <div class="po">
          <p>Français</p>
          <div class="cool">
            <div style="width:90%" class="inner"> </div>
          </div>
        </div>
        <div class="po">
          <p>Anglais</p>
          <div class="cool">
            <div style="width:60%" class="inner"> </div>
          </div>
        </div>
      </div>
      <h4>Réseaux sociaux</h4>
      <hr class="light">
      <div class="interet">
        <p>
          <img src="assets/img/l.png" class="info">
          <span>https://www.linkedin.com/hamidBenallel</span>
        </p>
      </div>


      <h4>Centres d'intérêt</h4>
      <hr class="light">
      <div class="interet">
        <div>
          <b>Sport</b>
        </div>
        <div>
          <b>Naviguer sur Internet</b>
        </div>
        <div>
          <b>Lecture</b>
        </div>
        <div>
          <b>Voyage</b>
        </div>
      </div>
    </section>
    <div class="srkl">
    </div>
    <hr class="light">
  </main>
</div>
