<nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
  <div class="flex lg:flex-1">
    <a [routerLink]="['/']" class="-m-1.5 p-1.5">
      <span class="sr-only">Pandoramid</span>
      <img class="h-12 w-auto" alt="" src="/assets/img/pandalogo.png">
    </a>
  </div>
  <div class="hidden lg:flex lg:gap-x-12">
    <a routerLink="/cv"
       class="text-lg font-semibold leading-6 text-gray-900">{{'HEADER-ROUTING.CV' | translate}}</a>
    <a routerLink="/freelance"
       class="text-lg font-semibold leading-6 text-gray-900">{{'HEADER-ROUTING.FREELANCE' | translate }}</a>
    <a routerLink="/portofolio"
       class="text-lg font-semibold leading-6 text-gray-900">{{'HEADER-ROUTING.PORTOFOLIO' | translate }}</a>
    <a routerLink="/idea"
       class="text-lg font-semibold leading-6 text-gray-900">{{'HEADER-ROUTING.IDEA' | translate }}</a>

  </div>
  <div class="hidden lg:flex lg:flex-1 lg:justify-end">
    <span class="text-lg font-semibold leading-6 text-gray-900">Langue :</span>
    <app-language-selector></app-language-selector>
    <a href="/" class="text-sm font-semibold leading-6 text-gray-900 hidden">{{'HEADER-ROUTING.LOGGER' | translate }} <span
      aria-hidden="true">&rarr;</span></a>
  </div>
</nav>
