<nav class="hidden lg:flex items-center space-x-48 p-6 lg:px-8" aria-label="Global">
  <div class="flex items-center">
    <a [routerLink]="['/']" class="-m-1.5 p-1.5">
      <span class="sr-only">Pandoramid</span>
      <img class="h-12 w-auto" alt="" ngSrc="/assets/img/pandalogo.png" height="500" width="500">
    </a>
  </div>
  <div class="flex items-center space-x-4 lg:space-x-12">
    <a routerLink="/cv" class="nav-link dark:text-white"
       [class.active-link]="isActive('/cv')"
       (click)="setActiveLink('/cv')">{{'HEADER-ROUTING.CV' | translate}}</a>
    <a routerLink="/freelance" class="nav-link dark:text-white"
       [class.active-link]="isActive('/freelance')"
       (click)="setActiveLink('/freelance')">{{'HEADER-ROUTING.FREELANCE' | translate }}</a>
    <a routerLink="/portofolio" class="nav-link dark:text-white"
       [class.active-link]="isActive('/portofolio')"
       (click)="setActiveLink('/portofolio')">{{'HEADER-ROUTING.PORTOFOLIO' | translate }}</a>
    <a routerLink="/idea" class="nav-link dark:text-white"
       [class.active-link]="isActive('/idea')"
       (click)="setActiveLink('/idea')">{{'HEADER-ROUTING.IDEA' | translate }}</a>
    <a routerLink="/params" class="nav-link dark:text-white"
       [class.active-link]="isActive('/params')"
       (click)="setActiveLink('/params')">{{'HEADER-ROUTING.PARAMS' | translate }}</a>
  </div>
</nav>

<nav class="flex lg:hidden items-center justify-center p-6 lg:px-8" aria-label="Global">
  <div class="flex items-center justify-center">
    <a [routerLink]="['/']" class="-m-1.5 p-1.5">
      <span class="sr-only">Pandoramid</span>
      <img class="h-12 w-auto" alt="" ngSrc="/assets/img/pandalogo.png" height="500" width="500">
    </a>
  </div>
</nav>

