<div class="min-h-screen flex flex-col">
  <app-header-deskop></app-header-deskop>
  <main class="flex-grow">
    <div class="relative px-6 py-16 lg:px-8 bg-gradient-to-r from-pink-500 to-purple-500 text-white">
      <div class="absolute inset-0 -z-10 filter blur-3xl bg-gradient-to-r from-pink-500 to-purple-500"></div>
      <div class="max-w-2xl mx-auto py-12 px-8 bg-white bg-opacity-80 shadow-lg rounded-lg">
        <h2 class="text-3xl font-semibold text-left mb-6 text-black">{{ 'FORMATION.TITLE' | translate }}</h2>
        <div [formGroup]="formationForm" class="mt-4">
          <select formControlName="formation" class="text-black block w-full bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
            <option value="" disabled selected>{{ 'FORMATION.TITLE' | translate }}</option>
            <option *ngFor="let formation of formations" [value]="formation">{{ formation }}</option>
          </select>
        </div>
        <div *ngIf="formationControl.value" class="mt-4 text-black">
          <p>{{ 'FORMATION.CONTENT1' | translate }}  {{ formationControl.value }} {{ 'FORMATION.CONTENT2' | translate }}</p>
        </div>
      </div>
    </div>
  </main>
</div>




