<div class="wrapper">
  <div class="item1">
    <img class="rond" src="assets/img/photo.jpg" width="100%" height="100%" alt="">
  </div>
  <div class="item2 des-mobile">
    <h3>BENALLEL Hamid</h3>
    <p class="post">{{ ('CURRICULUM.DESCRIPTION' | translate) }}</p>
  </div>
  <div class="item4 right-mobile">
    <p>
      <img src="assets/img/mail.png" class="info img-mobile" height="235" width="235">
      hamid.benallel.scicog@gmail.com
    </p>
    <p>
      <img src="assets/img/maps.png" class="info img-mobile" height="600" width="600">
      Bordeaux-France
    </p>
    <p>
      <img src="assets/img/tele.png" class="info-mobile img-mobile" height="882" width="623">
      0611284112
    </p>
  </div>
</div>

