<div class="wrapper">
  <div class="item1">
    <img alt="" class="rond" height="324" ngSrc="assets/img/photo.jpg" width="277">
  </div>
  <div class="item2 des-mobile">
    <h3>BENALLEL Hamid</h3>
    <p class="post">{{ ('CURRICULUM.DESCRIPTION' | translate) }}</p>
  </div>
  <div class="item4 right-mobile">
    <p>
      <img alt="" class="info img-mobile" height="235" ngSrc="assets/img/mail.png" width="235">
      hamid.benallel.scicog&#64;gmail.com
    </p>
    <p>
      <img alt="" class="info img-mobile" height="600" ngSrc="assets/img/maps.png" width="600">
      Bordeaux-France
    </p>
    <p>
      <img alt="" class="info-mobile img-mobile" height="882" ngSrc="assets/img/tele.png" width="623">
      0611284112
    </p>
  </div>
</div>

