<div class="wrapper">
  <div class="item1">
    <img alt="" class="rond" height="324" ngSrc="assets/img/photo.jpg" width="277">
  </div>
  <div class="item2 des-mobile">
    <h3 class="mt-8">BENALLEL Hamid</h3>
    <p class="post">{{ ('CURRICULUM.DESCRIPTION' | translate) }}</p>
  </div>
  <div class="item4 right-mobile info-bloc">
    <p>
      <i class="fas fa-mail-bulk mr-1"></i>
      hamid.benallel.scicog&#64;gmail.com
    </p>
    <p>
      <i class="fa-solid fa-location-dot mr-2"></i>
      Bordeaux-France
    </p>
    <p>
      <i class="fas fa-mobile-phone mr-2"></i>
      0611284112
    </p>
  </div>
</div>

